:root {
  --md-primary-fg-color: #18181b;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #3b82f6;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #18181b;
  --md-accent-fg-color: #3b82f6;
}
